// css variables

$color-blue: rgb(23, 67, 133);
$color-green: rgb(23, 133, 67);
$color-lightgreen: rgb(245, 255, 245);
$color-grey: rgb(145, 145, 145);

// global styles 

* {
  overflow-x: hidden;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// header styles

.header {
  width: 100%;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, $color-blue, $color-green);
  &__title {
    color: white;
    font-size: 2.5rem;
  }
}

// main body styles

.main {
  min-height: 85vh;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

i.fa-star {
  color: $color-grey;
}


// results section styles
.section-results {
  padding: 1.5rem;
  width: 100%;
  font-size: 1.25rem;
  // searchbar styles 
  .search {
    width: 100%;
    display: flex;
    &__bar {
      width: 100%;
      height: 3rem;
      font-size: 1.5rem;
      border: 1px grey solid;
      margin-right: .5rem;
    }
    &__button {
      background-color: $color-green;
      height: 3rem;
      width: 3rem;
      border: none;
      margin-left: .5rem;
      i {
        transform: rotate(90deg);
        color: white;
        font-size: 2rem;
      }
    }
  }
}

// favourite-section styles 

.favorites-section {
  background-color: $color-lightgreen;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.25rem;
  h2 {
    color: $color-green;
  } 
}

// conditional classes
i.favorited-item {
  color: $color-green;
}

// table styles

.table-row {
  div:first-child {
    width: 3rem;
  }
  div:nth-child(2) {
    width: 30vw;
  }
  div:nth-child(3) {
    width: 70vw;
  }
}

ul {
  list-style: disc;
  padding: 1rem;

  li {
    margin: 1rem 0 1rem 0;
    // &:before {
    //   color: black;
    //   content: "•";
    //   margin-right: 2rem; 
    // }
  }
}
